---
import MySiteLayout from "../layouts/MySiteLayout.astro";
import LoginForm from "../components/LoginForm.astro";
---

<MySiteLayout>
  <h1 class="text-xl font-semibold">Login-Page</h1>
  <LoginForm />
</MySiteLayout>
